<%- include("./partials/header.ejs",{ title: "home - New calendar" })  %> 
<body>
    <%- include("./partials/home-nav.ejs",{ back: true })  %> 
        
    <main class="container px-3 m-auto mt-6">
        <h1 class="sm:text-5xl text-3xl font-semibold sm:ml-0 ml-4">Delete <%=  title  %> </h1>
            <div class="flex flex-wrap mt-24 gap-16 sm items-center justify-center p-4">
                <form action="/calendar/<%= id %>/delete" method="post" class="shadow-md rounded p-6">

                  <div class="mb-3">
                    <label for="new-calendar" class="text-xl form-label inline-block mb-2 text-gray-700"
                    >Title</label
                  >                   
                  <input
                    type="text"
                    class="
                      form-control
                      mb-2
                      block
                      w-full
                      px-3
                      py-1.5
                      text-base
                      font-normal
                      text-gray-700
                      bg-white bg-clip-padding
                      border border-solid border-gray-300
                      rounded
                      transition
                      ease-in-out
                      m-0
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    "
                    id="new-calendar"
                    name="title"
                    placeholder="<%= title %>"
                  />
                  <%- error == 1 ? `<span class="text-red-600">The Calendar Title Is Incorrect</span>` : "" %>  
                  <%- error == 2 ? `<span class="text-red-600">Password Is Incorrect.</span>` : "" %>  
  
                  </div>


                  <button-primary data-type="submit" data-red data-full data-text="Delete" class="btn_delete"></button-primary>
                </div>
                </form>

            </div>
    </main>
     

</body>

