<%- include("./partials/header.ejs",{ title: "home - New calendar" })  %> 
<body>
    <%- include("./partials/home-nav.ejs",{ back: true })  %> 
        
    <main class="container m-auto mt-6">
        <h1 class="sm:text-5xl text-3xl font-semibold sm:ml-0 ml-4">Change Password</h1>
            <div class="flex flex-wrap mt-24 gap-16 sm items-center justify-center p-4">
                <form action="/auth/change-password" method="post" class="shadow-md rounded p-6">
                  <div>
                    <label for="first_password" class="text-xl form-label inline-block mb-2 text-gray-700"
                    >Current Passowrd</label
                  >                   
                  <input
                    type="password"
                    class="
                      form-control
                      mb-5
                      block
                      w-full
                      px-3
                      py-1.5
                      text-base
                      font-normal
                      text-gray-700
                      bg-white bg-clip-padding
                      border border-solid border-gray-300
                      rounded
                      transition
                      ease-in-out
                      m-0
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    "
                    required
                    id="first_password"
                    name="current_password"
                    placeholder="**********"
                  />


                  </div>
                  <div class="mb-3">
                    <label for="last_password" class="text-xl form-label inline-block mb-2 text-gray-700"
                    >New Passowrd</label
                  >                   
                  <input
                    type="password"
                    class="
                      form-control
                      mb-2
                      block
                      w-full
                      px-3
                      py-1.5
                      text-base
                      font-normal
                      text-gray-700
                      bg-white bg-clip-padding
                      border border-solid border-gray-300
                      rounded
                      transition
                      ease-in-out
                      m-0
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                    "
                    required
                    id="last_password"
                    name="new_password"
                    placeholder="**********"
                  />
                    <%- error == 1 ? `<span class="text-red-600">Plase Fill in all The Inputs.</span>` : "" %>  
                    <%- error == 2 ? `<span class="text-red-600">Password Is Incorrect.</span>` : "" %>  
    
                  </div>


                <button-primary data-full data-type="submit" data-text="Save"></button-primary>
                </div>
                </form>

            </div>
    </main>

    <%- include("./partials/sw.ejs")  %> 

</body>

